#map {
  width: 800px;
  height: 600px;
}
#map-container {
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
}

#Evmap{
  width: 800px;
  height: 600px;
}

#Evmap-container{
  display: flex;
align-items: center;
justify-content: center;
height: 100vh;
}

#Kerkmap{
  width: 800px;
  height: 600px;
}

#container{
  display: flex;
align-items: center;
justify-content: center;
height: 100vh;
}