#map {
  width: 800px;
  height: 600px;
}
#map-container {
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
flex: 1;
}

#Evmap{
  width: 800px;
  height: 600px;
}

#Evmap-container{
  display: flex;
align-items: center;
justify-content: center;
height: 100vh;
flex: 1;
}

#Kerkmap{
  width: 800px;
  height: 600px;
}

#container{
  display: flex;
align-items: center;
justify-content: center;
height: 100vh;
flex: 1;
}

@media (max-width: 767px) {
  #map-container {
    height: 200px; 
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #map-container {
    height: 300px; 
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #map-container {
    height: 400px; 
  }
}

@media (min-width: 1200px) {
  #map-container {
    height: 500px; 
  }
}